# Python-specific
__pycache__/
*.pyc
*.pyo
*.pyd
tempCodeRunnerFile.py

# Virtual Environments and Environment variables
venvs/
.env/
.env

# Visual Studio Code
.vscode/

# Logs and Output Files
*.log
*.out
**/tagging_output/*
!**/tagging_output/*.md
**/location_output/*
!**/location_output/*.md
**/segmentation_output/*
!**/segmentation_output/*.md

# Images and Datasets
*.jpg
*.png
*.jpeg
*.npz

# Evaluation
raw_data.json
formatted_data.json
lvis_detections.json
**/evaluation/**/talos_masks/*

# Model Checkpoints
*.pth
*.pt

# External repositories
external-repos/*

# Docs
*.vpp.lck
*.vpp.bak*
!**/docs/**/*.png