# Python-specific
__pycache__/
*.pyc
*.pyo
*.pyd
tempCodeRunnerFile.py

# Virtual Environments
ram-env/
grounding-dino-env/
.env/

# Visual Studio Code
.vscode/

# Logs, Images and Output Files
*.log
*.out

# Model Checkpoints
*.pth
*.pt
