# Python-specific
__pycache__/
*.pyc
*.pyo
*.pyd
tempCodeRunnerFile.py

# Virtual Environments
venvs/
.env/

# Visual Studio Code
.vscode/

# Logs and Output Files
*.log
*.out
description_*
tags_*
segmentation_*
location_*

# Images, Datasets and Evaluation
*.jpg
*.png
*.jpeg
raw_data.json
formatted_data.json
*.npz

# Model Checkpoints
*.pth
*.pt

# External repositories
external-repos/