git+https://github.com/xinyu1205/recognize-anything.git
torch
torchvision
timm
pillow
numpy
ollama
segment-anything
sam2
hydra-core
iopath
opencv-python
matplotlib
shapely
transformers
scipy
fairscale
git+https://github.com/openai/CLIP.git
qwen-vl-utils[decord]==0.0.8
accelerate
scikit-image